[Unit]
Description=Keeps the express http server running
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
#User=centos
ExecStart=/usr/bin/node /var/www/react-sandbox/ssr/index.js

[Install]
WantedBy=multi-user.target
